/*=============== CUSTOM FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*=============== CUSTOM FONTS ===============*/
@font-face{
  font-family: Electramaniacal;
  src: url(/assets/font/electramaniacal.woff)  format('woff');
  font-weight: 100;
  font-style: normal;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;
    
  --first-color: hsl(0, 0%, 0%);
  --first-color-alt: hsl(234, 100%,50%);
  --first-color-light: hsl(0, 100%, 50%);
  --title-color: var(--white-color);
  --text-color: var(--white-color);
  --text-color-light: hsl(300, 100%, 27.3%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(0, 100%, 50%, .1);
    
  --animation-color: var(--body-color);
    
    /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --title-font: "Electramaniacal", sans-serif;
  --body-font: "Inria Sans", sans-serif;
  --biggest-font-size: 6.085rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .55rem;

  /*========== Font weight ==========*/
  --font-regular: 300;
  --font-medium: 400;
  --font-semi-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
    --smaller-font-size: .55rem;
  }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body,
  input,
  textarea,
  button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
  }
  
  input,
  button,
  textarea {
    border: none;
    outline: none;
  }
  
  h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .bold{
      font: var(--body-font);
      color: var(--text-color);
      font-weight: 700;
  }

  .button {
    color: var(--white-color);
  }

  .button:hover {
    color: var(--body-color)
  }

  /*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 425px;
    overflow-x: hidden;
  }
  
  .grid {
    display: grid;
    grid-gap: 1.5rem;
  }
  
  .section {
    padding-block: 3rem 0;
  }
  .section__title {
    font-size: var(--h1-font-size);
    text-align: center;
    padding-top: 1em;
  }
  .main {
    overflow: hidden;
  }

 /*=============== HEADER & NAV ===============*/

 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 12px 24px var(--shadow-color);
    background-color: rgba(0, 0, 0, 0.85);
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    height: var(--header-height);
  }

  .nav__logo {
    color: var(--white-color);
    font-weight: var(--font-bold);
    transition: color .4s;
}

.nav__logo img {
  width: 3em;
  height: auto;
}

.nav__toggle,
.nav__search,
.nav__close {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--white-color);
}

.nav__toggle,
.nav__search {
  font-size: 1.6em;
}

.nav__search {
  padding-right: 0.3em;
}
.nav__search:hover {
  cursor: pointer;
}

.nav__item {
  letter-spacing: 0.12em;
  padding: 0.6em;
  font-weight: var(--font-bold);
  color: var(--white-color);
  
}

.nav__item a {
  color: var(--white-color);
}
.nav__item a:hover {
  color: var(--first-color-light);
}

.tick-cta {
  border: 2px solid var(--white-color);
  text-transform: uppercase;
  padding: 0.5em;
}

.tick-cta:hover {
  border: 2px solid var(--first-color-light);
}

.nav__menu {
  position: fixed;
  top: -100%;
  left: 0;
  background-color: var(--body-color);
  width: 100%;
  box-shadow: 0 12px 24px var(--shadow-color);
  padding-block: 5rem 4rem;
  transition: top .4s;
}

.nav__list {
    display: flex;
    text-align: center;
    flex-flow:column wrap;
}

.nav__link {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    letter-spacing: 0.12em;
    padding: 0.5em;
}

.nav__link:hover{
    color: var(--first-color-alt);
    transition: color 0.4s;
}

.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}

 /*=============== HERO ===============*/
.hero {
  margin-inline: 0;
  padding-block: 0;
}

.hero-container {
  background-image: url(/assets//img/aleksandr-popov-background.jpg);
  background-size: cover;
  height: auto;
  background-position: center;
}

.hero-logo {
  height: 30rem;
  padding-bottom: 1.3rem;
  display: flex;
  align-items: flex-end;
  padding: 1.2em;
}

.hero-content{
  padding-top: 0.3em;
  padding-bottom: 0.6em;
  background-color: hsla(234, 100%,50%, 0.48);
  padding: 1em 1.2em;
}

.hero-content-title-group {
  display: flex;
  flex-flow: row wrap;

  justify-content: left;
  align-items: center;
  column-gap: 0.7rem;
  
}

.hero__title {
  font-family: var(--title-font);
  font-size: var(--biggest-font-size);
  letter-spacing: 0.06em;
  font-weight: 100;
  margin-top: -0.08em;
}

.hero-content-subtitle {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: var(--font-semi-bold);
  font-size: 1.2em;
  line-height: 1.3;
  
}
 /*=============== ARTISTS ===============*/
.rotate__artist {
  margin-inline:0;
  padding-block: 0;
}

.rotate__artist-container {
  background-color: var(--body-color);
}

.rotate__artist-content {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  color: var(--white-color);
}

.rotate__artist-name,
.rotate__artist-dot{
  padding: 0 0.4em;
}

.rotate__artist-dot {
  font-size: 0.7em;
  align-self: center;
}

.rotate__artist-name {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: var(--font-medium);
  font-size: 1.195em;
}

 /*=============== TICKET BAR ===============*/
 .tickets__bar{
    margin-inline: 0;
    padding-block: 0;
  }

 .tickets__bar-container{
  background-color: var(--first-color-light);
 }

 .tickets__bar-content {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
 }

 .tickets-cta {
  padding: 0 0.2em;
  color: hsla(0, 0%, 100%, 0.8);
  font-weight: var(--font-semi-bold);
  font-size: 1.53em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
 }

 .cta {
  color: hsla(0, 0%, 100%, 1);
 }
 /*=============== RADIO ===============*/
 .radio {
  margin-inline: 0;
  padding-block: 0;
  }

  .radio__container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0.2em;
  }

  .radio__album {
    background-color: var(--first-color-alt);

    width: 55px;
    height: 55px;
  }

  .radio__content {
    width: 9em;
  }

  .radio__content-song:hover,
  .radio__content-artist:hover {
    text-decoration: underline;
  }

  .radio__content-artist{
    font-size: 0.9em;
    text-transform: uppercase;
    padding-top: 0.3em;
  }

  .radio__content-song {
    font-size: 1.1em;
  }


  .radio__play-buttons {
    align-items: center;
    display: flex;
  }

  .skip-back,
  .skip-forward,
  .radio__volume {
    font-size: 1.2em;
  }

  .skip-back:hover,
  .skip-forward:hover,
  .radio__volume:hover {
    color: hsl(234, 95%, 60%);
  }

  .play-pause {
    font-size: 2em;

    border-radius: 100%;
    background-color: var(--first-color-alt);
    padding: 0.2em;

    margin: 0.2em;
  }

  .play-pause:hover {
    background-color: hsl(234, 95%, 60%);
  }

  .radio__volume {
    display: flex;
    align-items: center;
  }

  .skip-back,
  .skip-forward,
  .radio__volume,
  .play-pause,
  .radio__content-song,
  .radio__content-artist  {
    cursor: pointer;
  }

 /*=============== UPCOMING EVENTS ===============*/
.upcoming {
    margin-inline: 0;
    row-gap: 1rem;
    padding-bottom: 1.5rem;
    padding-block: 0;
}

.event_title {
  font-size: var(--h1-font-size);
  text-align: center;
  padding-top: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;

}

.upcoming__container {
  background-image: url(/assets/img/raphael-schaller-zbUvPw1wUIw-unsplash.jpg);
  background-size: cover;
  height: auto;
  background-position: center;
  align-items: center;

  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.event__container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;

}
.event__content-info {
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 1.3em;
  margin: 1em;
  width: 90%;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.event__location,
.event__venue-name,
.event__description {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.event-date {
  border: 2px solid var(--white-color);
  padding: 1.3em 2em;
  width: 100%;
}

.event__location {
  font-size: 1.5rem;
  text-align: center;
}

.event__venue-name {
  font-size: 1.1rem;
  text-align: center;
}

.event__description {
  padding-bottom: 0.3em;
}

.event-cta {
  display: flex;
  flex-flow: row wrap;
}

.event__button {
  border: 2px solid var(--white-color);
  padding: 1em;
  width: 8em;
  text-align: center;
  color: var(--white-color);
  margin: 10px 1em;

  transition: 0.2s;
}

.event__button:hover {
  background-color: var(--white-color);
  color: var(--body-color);
}

/*=============== ABOUT THE ARTISTS ===============*/
.about_artist{
    margin-inline: 0;
    row-gap: 2.5rem;
    padding: 1.5rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: -1;
}

.artist__container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;

    padding-bottom: 2em;
  }

.artist__slide {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 0.3em;
}

.thumbnails__pagination {
    display: flex;
    flex-flow: row;
    line-height: 0;

    height: 5em;
    width: 5em;

    margin: 0 4px;
    overflow: hidden;
  
    a {
      display: block;
    }
    
    img {
      width: 30vmin;
      height: 20vmin;
      object-fit: cover;
      object-position: top;
    }
}

.thumbnails__pagination:active,
.thumbnails__pagination:hover {
    box-shadow: -2px -1px 17px var(--first-color-light);
}
  
.slides {
    overflow: hidden;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45em;
}

.slides li:target {
    z-index: 3;
    
}
  
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes hidden {
    0% {
      z-index: 2;
    }
    100% {
      z-index: 2;
    }
  }

  .artist__content {
    width: 100%;
    height: 100%;

    background-color: var(--body-color);

    padding-top: 0.5em;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
}

.artist__info {
    width: 100%;
    height: 100%;

    padding: 1em;

    align-items: center;
    display: flex;
    flex-flow: column;
}

.artist__profile {
    width: 99%;
    height: 99%;
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;

    box-shadow: -2px -1px 17px var(--first-color-light);
}

.artist-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;

    padding: 0.5em 1em;
}

.a-left {
    width: 10%;
    display: flex;
    flex-flow:column;
    align-items: center;
    margin-right: 0.8em;
}

.a-right {
    width: 85%;
}

.artist-img {
    height: 20rem;
    background-size: cover;
    width: auto;
    background-position: center;
}

.artist-name {
  padding-top: 0.5em;
}

.artist__icon {
  font-size: 1.2rem;
  padding-top: 0.5em;
}

.artist__icon a{
  color: var(--white-color);
}

.artist-description {
  padding-bottom: 1em;
}
/*=============== SOCIAL MEDIA INTEGRATION ===============*/
.social__integration {
  padding-top: 4em;
}
/*=============== SPOTIFY ===============*/
.spotify__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spotify__player-container {
  height: auto;
  display: flex;
  flex-flow:column;
  width: 95%;

  padding:1em;
  border-radius: 10px;
  background-color: hsl(0, 0%, 25%);
}

.spotify__player {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.spotify-img {
  width: 70px;
  height: 70px;
  border-radius: 20%;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--body-color);
}

.spotify-img img {
  width: 70%;
  height: auto;
}
.spotify-content {
  display: flex;
  flex-flow: row;
  padding-top: 0.5em;
}

.spotify_playlist-overall {
  width: 85%;
  padding-left: 0.8em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.playlist-title {
  font-size: 0.9em;
  font-weight: 700;
}

.playlist-author {
  font-size: 0.80em;
  padding-top: 0.2em;
  color: hsl(0, 0%, 80%);
}

.spotify-controls {
  display: flex;
  flex-flow: row;
  height: fit-content;

  margin-left: 1em;
  margin-top: 0.5em;
  align-items: baseline;
}

.three-dots {
  padding:0.2em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  display: flex;
}

.sml-dot {
  font-size: 0.25em;
  padding: 0.1em;
}

.spotify-play {
  padding: 0.2em;
  border-radius: 100%;

  background-color: var(--white-color);

  color:var(--first-color);
  font-size: 1.1em;
  font-weight: var(--font-semi-bold);
}

.spotify-icon {
  display: flex;
  justify-content: right;
  position: absolute;
  right: 1.1em;

  font-size: 1.5em;
}

.spotify-skip {
  padding: 0.3em;
}

.spotify_playlist-active {
  display: flex;
  flex-flow: column;
}

.spotify-song:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.spotify-song {
  display: flex;
  flex-flow: row;

  align-items: center;

  width: 90%;
  padding: 0.05em;
  border-radius: 3px;
}

.song-icon {
  font-size: 0.80em;
  padding: 0.1em;

  width: 1em;
  display: flex;
  justify-content: center;
  margin-right: 0.5em;
}

/*=============== GALLERY ===============*/
.gallery{
    display: flex;
    flex-flow: row wrap;
    gap: 0.1em;
    width: 100%;
    justify-content: center;
}

.social__gallery {
    width: 130px;
    height: auto;
}

.social__gallery:hover {
  cursor: pointer;
}

/*=============== TWITTER ===============*/
.twitter__container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1em 1em;
}

.twitter__post {
    padding: 1.2em;
}
.twitter__post:hover{
    background-color: #585858;
    border-radius: 5px;
    cursor: pointer;
}

.twitter__post-header {
    display: flex;
    flex-direction: row;
}

.twitter__profile-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;

    background-color: rgb(0, 138, 216);
    border: 1px solid var(--white-color);

    margin: 0.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter__username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-left: 0.5em;
    padding-right: 0.5em;
}

.username {
    text-align: right;
}

.twitter-post {
    width: 100%;
    padding: 0.5em 0;
    display: flex;
}

.twitter__date,
.twitter_dot {
    padding-right: 0.4em;
    color: #d8d8d8;
}

.twitter_dot {
    font-size: 0.3em;
    padding-right: 1em;
}

.twitter_icon-img a{
    font-size: var(--h3-font-size);
}
.twitter_icon-img a:hover{
    cursor: pointer;
    
}

.twitter__post-body {
    padding: 0.5em 0;
}

.twitter__post-text{
    font-size: 1em;
    font-weight: bold;
}

.twitter-post {
    display: flex;
    align-items: center;
}

.hashtag {
    font-weight: bold;
    color: rgb(0, 138, 216);
    cursor: pointer;
}

.twitter__post-footer{
    padding-top: 0.2em;
    flex-direction: row;
    display: flex;
}

.twitter__footer-img {
    cursor: pointer;
    font-family: var(--body-font);
    margin-right: 1em;
}

.post-separator {
    margin: 0.4em 0;
    width: 100%;
    height: 1.4px;

    background-color: #d8d8d8;
}

.link {
    color: rgb(0, 138, 216);
    cursor: pointer;
}

.twitter_icon-img{
    padding-left: 0.2em;
    padding-bottom: 1em;
    font-size: 1.5em;
    color: #d8d8d8;
    position: absolute;
}

.twitter_icon-img:hover {
  color: rgb(0, 138, 216);
}

 /*=============== NEWS ARTCLES ===============*/
 .news__articles {
  padding-top: 0;
 }

 .news__articles__container {
    display: flex;
    background-image: url(/assets/img/blue-red_stairs.jpg);
    background-size: cover;
    height: auto;
    background-position: center;
    row-gap: 1.2rem;
    flex-flow: row wrap;

    padding: 1.2em;
 }

 .news__articles-content {
    display: flex;
    flex-flow: row wrap;
    row-gap: 1.5em;
    justify-content: center;
 }

 .article {
    padding: 1.5em;
    background-color: hsla(0, 0%, 0%, 0.7);
    width: 360px;
 }

 .article__img{
    width: 100%;
    height: 13em;
    object-fit: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .article__read-more {
    color: var(--white-color);
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    display: block;
    width: 100%;
 }
 
 .article__read-more:hover {
    color: var(--first-color-light);
 }

 .article__content,
 .article {
    display: flex;
    flex-flow: wrap;
    row-gap: 0.8em;
 }

 .article__img-sml{
    width: 100%;
    height:10em;
    object-fit: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
 }

  /*=============== FOOTER ===============*/
  .footer {
    background-color: #000319;
  }

  .footer__container{
    padding-block: 1.5rem;
    text-align: center;
    row-gap: 2rem;
    flex-flow: wrap;
  }

  .footer__content {
    color: var(--body-color);
  }

  .footer__nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer__logo {
    display: flex;
    justify-content: center;
  }

  .footer__logo img {
    width: 16em;
  }

  .footer-nav a {
    color: var(--white-color);
  }

  .footer-item {
    padding: 0.5em 1em;
  }

  .footer__socials {
    column-gap: 1rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
    color: var(--white-color);
  }

  .footer__socials {
    display:flex;
    justify-content: center;
}

.footer__bottom {
    padding: 1em;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    
}

.footer__copy {
    font-size: var(--smaller-font-size);
    width: 33.33%;
    text-align: center;
}

.footer__copy a{
    color: var(--white-color);
    cursor:pointer;
}
